OKX_API_KEY= 
OKX_SECRET=
OKX_PASSPHRASE=

TELEGRAM_BOT_TOKEN= 
TELEGRAM_CHAT_ID= 
TELEGRAM_NOTIFY_SCANS=true
TELEGRAM_MESSAGE_THREAD_ID=

OPENAI_API_KEY=
OPENAI_API_KEY_INTERNAL=
OPENAI_API_KEY_OKX=
